body{
    background-color: #2D2D2D;
    margin: 0;
}
.body h2{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: #EFFFF5;
    margin-top: 2%;
}
.wary{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #EFFFF5;
    margin-top: 2.65%;
}
.form{
    margin: 2% auto;
    height: auto;
    width: 20%;
}
.form input[type=text],[type=password]{
    display: table;
    width: 100%;
    height: 30px;
    background: rgba(75, 168, 125, 0.5);
border-radius: 5px;
outline:none;
border: none;
margin-bottom: 5px;
color: #38E488;
padding: 0 0 0 5px;
}
.form input[type=submit]{
    display: table;
    width: 100%;
    height: 45px;
    background: #38E488;
border-radius: 5px;
outline:none;
border: none;
margin-top: 20px;
margin-bottom: 5px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: 1px;

color: #FFFFFF;

text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
cursor: pointer;
}
.form input[type=submit]:hover{
    background: linear-gradient(90deg, #36EA88 0%, #76C2C2 34.38%, #BA99FF 100%);
}


.form label{
    font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
letter-spacing: 1.275px;

color: #EFFFF5;
}
.container{
    display: block;
    position: relative;
    margin: 0 auto;
    height: auto;
    width: 20%;
    
    background-color: #2D2D2D;
    border: 2px solid #38E488;
    border-radius: 5px;
  }
  
  h2 {
      color: #AAAAAA;
  }
  
  .container ul{
    list-style: none;
    margin: 2px;
    padding: 0;
      overflow: auto;
      border-radius: 3px;
  }
  
  ul li{
    color: #38E488;
    display: inline;
    display: block;
    position: relative;
    float: left;
    width: 50%;
    height: auto;
    background-color: #2D2D2D;
    
  }
  
  ul li input[type=radio]{
      display: none;
    position: absolute;
    visibility: none;
  }
  
  ul li label{
    display: block;
    position: relative;
    font-family: Raleway;
    font-weight: 700;
    font-size: 13px;
    padding: 10px 10px;
    text-align:center;
    margin: 0 auto;
    height: 15px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    background-color: #2D2D2D;
  }
  
  ul li:hover label{
      color: #3C6A55;
  }
  
  ul li .check{
    display: none;
    position: absolute;

  }
  
  .link a{
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #38E488;
    text-align: center;
    
  }
  

 
  
  
  input[type=radio]:checked ~ label{
    color: #2D2D2D;
    background: linear-gradient(90deg, #4BA87D 0%, #38E488 100%);
  }